includes:
    - ./phpstan.preload.neon
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src
        - tests
    level: 8
    scanDirectories:
        - src
        - tests
    parallel:
        maximumNumberOfProcesses: 0
        processTimeout: 0.0
