includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src
        - tests
    level: 8
    bootstrapFiles:
        - vendor/autoload.php
    parallel:
        maximumNumberOfProcesses: 0
        processTimeout: 0.0
